
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    padding: 10px;
    /* display:flex;
    flex-wrap:wrap ;
    margin-left: -1px;
    width: 100%; */
  }
  .item{
    padding: 10px;
  }
  h3{
    font-weight: normal;
  }
.stat{
  text-align: center;
  margin-top: 80px;
}
@media (max-width: 767px) {
  /* Une colonne à pleine largeur pour les petits écrans */
  .container {
    grid-template-columns: 1fr;
  }
}