/* Acceuil.css */

.bg-white {
  padding: 20px; /* Ajoutez un espace autour du contenu pour plus de lisibilité */
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Utilisation de CSS Grid pour rendre les colonnes responsives */
  gap: 20px; /* Ajoutez un espace entre les colonnes */
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.mt-3 {
  margin-top: 1rem;
}
